.Container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

input {
    height: 3em;
    width: 85%;
    margin-left: 1em;
}

.Submit {
    position: relative;
    background-color: rgb(40, 113, 247);
    margin-top: 2rem;
    border: none;
}

.submitIcon {
    position: absolute;
    right: 6em;
    bottom: 13em;
    z-index: 10;
}

.ContainerImage {
    background-color: rgb(40, 113, 247);
    border-radius: 50%;
    margin: 1rem 3rem;
}