#root {
  max-width: 1280px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.screens {
  height: 44rem;
  overflow: scroll;
}

.footer {
  background-color: #3B3B3B;
  bottom: 0;
  position: fixed;
  width: 110%;
  text-align: center;
  left: -20px;
  position: fixed;
}

@media only screen and (min-width: 500px) {
  .footer {
    width: 421px;
    bottom: 53vh;
  }
}